body {
  background-color:rgb(255, 255, 255);
}

.questionList {
  border-top: solid thin black;
  margin-top: 10px;
}

.question {
  display: inline;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Roboto', sans-serif;
}

.questionAuthor {
  font-family: 'Roboto Mono', monospace;
  display:inline-block;margin-right:5px;
}

.askQuestion {
  position: absolute;
  right: 10px;
  width: 150px;
  padding: 10px;
  background-color: rgb(0, 113, 141);
  color: white;
}

.postQuestion {
  background-color: rgb(0, 113, 141);
  color: white;
}

h1 {
  font-family: 'Roboto Mono';
  font-weight: 400;
  letter-spacing: -.015rem;
  line-height: 1;
}

.numberOfAnswers {
  position: absolute;
  right: 20px;
  width: 50px;
  padding: 20px;
}

.answersNumberText {
  position: relative;
}

.author {
  font-weight: bold;
  font-size: medium;
  width: 50px;
}

.author:first-child {
  margin-right: 20px;
}

.title {
  font-weight: bolder;
  font-size: x-large;
}

.answerAuthor {
  font-weight: bold;
  width: 80px;
}

.answer {
  position: relative;
  left: 30px;
}

button {
  background-color: rgb(255, 255, 255);
  color: black;
  border-width: thin;
}

.answerQuestion {
  margin: 15px;
  padding: 5px;
}

.createdAt {
  position: relative;
}

.grid-container {
  display: table-row;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}