name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2.1.4
      with:
        node-version: '14.x' # optional
    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.3.0
      with:
        mongodb-version: ${{ matrix.mongodb-version }}
    - name: Install dependencies
      run: npm ci
    - name: Add npm executables to PATH
      run: echo "$PWD/node_modules/.bin" >> $GITHUB_PATH
    - name: Run ESLint
      run: eslint . --ext .js,.jsx,.ts,.tsx
    - name: Run api tests
      run: npm run test
